/* Home.css */
.home-container {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Navbar, Content, Footer */
    min-height: 100vh;
  }
  
  .main-content {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  /* @media (min-width: 1024px) {
    .main-content {
      padding: 3rem;
    }
  } */
  