.sponsors {
    text-align: center;
    padding: 20px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
  }
  
  .sponsor-wrapper {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
  }
  
  .sponsor-list {
    display: flex;
    gap: 40px;
    animation: scrollLeft 10s linear infinite;
  }
  .sponsor-list img {
    width: 100px;
    height: auto;
    transition: opacity 0.3s ease-in-out;
  }
  
  .sponsor-list img:hover {
    opacity: 0.7;
  }
  @keyframes scrollLeft {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
  